<div class="modal-overlay">
  <div class="modal-container">
    <header class="modal-header">
      <h2>
        {{ isEditMode ? 'Editar' : 'Crear' }}
        {{
            entityType === 'category' ? 'tategoría' :
            entityType === 'budget' ? 'presupuesto' :
            entityType === 'insight' ? 'Vista' :
            entityType === 'transaction' ? 'transacción' :
            ''
        }}
      </h2>
      <button class="close-btn" (click)="closeModal()">×</button>
    </header>

    <section class="modal-body">
      <ng-container [ngSwitch]="entityType">
        <app-category-form
          *ngSwitchCase="'category'"
          [isEditMode]="isEditMode"
          [initialData]="initialData"
          (saved)="handleSave($event)">
        </app-category-form>

        <app-budget-form
          *ngSwitchCase="'budget'"
          [isEditMode]="isEditMode"
          [initialData]="initialData"
          (saved)="handleSave($event)">
        </app-budget-form>
        
        <app-transaction-form
          *ngSwitchCase="'transaction'"
          [isEditMode]="isEditMode"
          [initialData]="initialData"
          (saved)="handleSave($event)">
        </app-transaction-form>    
      </ng-container>
    </section>
  </div>
</div>